body, html, router-view {
	height: max-content;
	letter-spacing: .5px;
}

html {
	color: rgb(90, 90, 90);
	font-family: Rubik, Arial, sans-serif;
}

html * {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

html *::-webkit-scrollbar {
	display: none;
}

body {
	margin: 0;
}

.page-body {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh;
	background-color: rgb(245, 245, 255);
	overflow-y: auto;
}

.page-body navbar {
	position: sticky;
	top: 0;
}

.page-body router-view {
	/* padding: 1rem; */
}

ul, ol {
	margin: 0;
}

h1 {
	text-align: center;
}

h1, h2 {
	color: rgb(70, 80, 140);
}

input,
textarea {
	border: none;
	border-bottom: 1px solid rgb(200, 200, 200);
    box-sizing: border-box;
    padding: .5rem;
}

input {
    font-size: 1.5rem;
	min-width: none;
}

textarea {
	width: 100%;
}

input:focus,
textarea:focus {
	outline: none;
	border-bottom: 1px solid rgb(176, 154, 233);
}

input:disabled,
textarea:disabled,
select:disabled {
	cursor: not-allowed;
}

select {
	width: 100%;
	max-width: max-content;
	overflow-x: hidden;
	background-color: white;
	border-radius: .2rem;
	box-shadow: 1px 1px 3px #b8cdebe2;
	padding: .7rem;
	border: none;
}

a {
	text-decoration: underline;
	cursor: pointer;
}

modal h1 {
	margin-top: 0;
}