table {
    border-collapse: separate;
    border-spacing: 0;
    width: 90%;
    margin-left: 3rem;
    font-size: larger;
    font-family: "Verdana", sans-serif;
    border-radius: .5rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 4px rgb(195, 190, 215);
    border: 1px solid rgb(180, 180, 180);
    margin-bottom: 10px;
}

thead tr {
    text-transform: uppercase;
    width: 100%;
    background-color: rgb(215, 215, 240);
}

th, td {
    text-align: left;
    padding: .8rem;
}

tbody tr:last-child td:first-child {
    border-radius: 0 0 0 .5rem;
}

tbody tr:last-child td:last-child {
    border-radius: 0 0 .5rem 0;
}

tr:nth-child(even) {
    background-color: rgb(235, 235, 245);
}

tr:not(thead > tr):nth-child(odd) {
    background-color: rgb(255, 255, 255);
}

tr:hover:not(thead > tr):not(tr > td .actions icon) {
    background-color: rgb(180, 170, 220);
}

th small,
td small {
    display: block;
}

td .actions {
    font-size: smaller;
    display: flex;
    justify-content: center;
}

td .actions icon {
    border: 1px solid rgb(180, 180, 180);
    padding: .6rem;
    box-sizing: border-box;
    background-color: rgb(235, 235, 245);
}

td .actions icon i.fa-magnifying-glass {
    color: rgb(110, 110, 110)
}

td .actions icon:first-child {
    border-radius: .5rem 0 0 .5rem;
}

td .actions icon:last-child {
    border-radius: 0 .5rem .5rem 0;
}

td .actions icon:hover {
    background-color: rgb(215, 215, 225);
}